@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Syncopate:400,700');

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* WLFM Style */

body {
    background: #eee;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    color: #eee;
}

h1 {
    font-size: 70px;
    font-family: 'Syncopate';
    font-weight: 700;
    letter-spacing: -4px;
    text-align: center;
    margin-left: -20px;
    /*animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;*/
    text-shadow:
            0px 0px 40px rgba(0,157,219,1),
            0.2em 0.2em 2px rgba(0,157,219,0.9),
            0.4em 0.4em 4px rgba(0,157,219,0.7),
            0.6em 0.6em 6px rgba(0,157,219,0.5);
}

h1:first-letter {
    letter-spacing: -1px;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.4em;
    font-weight: 700;
    width: 544px;
    margin: 40px auto;
}

nav {
    position: absolute;
    top: 140px;
    left: 40px;
    font-size: 1.2em;
    display: none;
}

nav a {
    color: yellow;
    text-decoration: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
    display: block;
}

#wrapper {
    min-height: 500px;
    position: absolute;
    margin: 15px;
    padding: 120px 0 0;
    background: #000;
    border-radius: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.now-playing {

}

.now-playing .live {
    color: red;
    border: 1px solid red;
    border-radius: 2px;
    padding: 0.2em 0.4em;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-right: 0.5em;
}

.player-wrapper {
    width: 640px;
    box-sizing: border-box;
    height: 180px;
    border-radius: 2px;
    cursor: pointer;
    margin: 120px auto 0;
    background: none;
    border: 4px solid gold;
}

.play-button-inner {
    width: 0; 
    display: none;
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 60px solid black;
    position: relative;
    top: 30px;
    left: 40px;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background: black;
    color: #eee;
}

h1 {
    text-align: center;
    font-size: 4.5em;
    font-family: 'Syncopate';
    font-weight: 700;
    text-shadow:
        0px 0px 40px rgba(0,157,219,1),
        20px 20px 2px rgba(0,157,219,0.9),
        40px 40px 4px rgba(0,157,219,0.6),
        60px 60px 6px rgba(0,157,219,0.3),
        -20px 20px rgba(62,0,219,0),
        -40px 40px rgba(62,0,219,0),
        -60px 60px rgba(62,0,219,0);
    margin-bottom: 1.8em;
    margin-left: -60px;
    margin-top: 100px;
    letter-spacing: -6px;
}

h2 {
    font-size: 1.45em;
    margin: 0 auto;
    width: 90%;
    font-weight: normal;
    line-height: 1.3em;
    font-weight: 700;
}

h3 {
    font-family: 'Syncopate';
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {

}

article {
    margin-bottom: 2.5em;
}

article .post-body {
    width: 70%;
    margin: 0 0 0 25%;
    line-height: 1.4em;
}

article p {
    color: #555;
}

article .post-meta {
    float: left;
    color: red;
    letter-spacing: 2px;
    font-size: 0.8em;
    margin-left: 5%;
    width: 18%;
    padding-top: 2px;
    text-align: right;
}

#wrapper > div {
    margin-bottom: 3.5em;
}

#wrapper {
    width: 750px;
    margin: 0 auto 100px;
}

#player {
    padding: 1em;
    border: 4px solid red;
    box-shadow: 
        0 0 0 5px black,
        0 0 0 10px orange,
        0 0 0 15px black,
        0 0 0 20px yellow,
        0 0 25px 25px rgba(255,204,0,0.3);
    text-align: center;
    width: 670px;
    margin-left: 20px;
    /*border-radius: 1px;*/
}

#blog {
    margin-top: 2.5em;
}

@keyframes glow {
    0% {
       text-shadow:
            0px 0px 40px rgba(0,157,219,1),
            0.2em 0.2em 2px rgba(0,157,219,0.9),
            0.4em 0.4em 4px rgba(0,157,219,0.6),
            0.6em 0.6em 6px rgba(0,157,219,0.3);
    }

    50% {
        text-shadow:
            0px 0px 80px rgba(255,255,255,1),
            0.25em 0.25em 2px rgba(0,142,219,0.9),
            0.46em 0.46em 4px rgba(0,142,219,0.6),
            0.67em 0.67em 6px rgba(0,142,219,0.3);
    }

    100% {
        text-shadow:
            0px 0px 40px rgba(0,157,219,1),
            0.2em 0.2em 2px rgba(0,157,219,0.9),
            0.4em 0.4em 4px rgba(0,157,219,0.6),
            0.6em 0.6em 6px rgba(0,157,219,0.3);
    }
}